body {
    box-sizing: border-box;
    color: #E3D0D8;
    background-color: #827081;
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    text-align: justify;
}

ul {
    display: list-item;
    /* list-style-type: square; */
    list-style-type: none;
}

.form-select {
    width: 150px;
}

.search-btn {
    padding-top: 7%;
    padding-bottom: 1%;
}

.cars {
    color: white;
}

h1 {
    margin-left: 3%;
    color: #E7E6F7;
}

h4 {
    margin-left: 3%;
    color: #E7E6F7;
}

p {
    margin-left: 3%;
    font-size: large;
    color: #C6D2ED;
}

th {
    color: #E7E6F7;
}

.display-6 {
    font-size: 1.5rem;
}

.text-warning {
    --bs-text-opacity: 1;
    color: #E7E6F7;
    font-size: 2rem;
    text-align: center, !important;
}


/* .table-dark {
    --bs-table-bg: #212529;
    --bs-table-striped-bg: #2c3034;
    --bs-table-striped-color: #fff;
    --bs-table-active-bg: #373b3e;
    --bs-table-active-color: #fff;
    --bs-table-hover-bg: #323539;
    --bs-table-hover-color: #fff;
    color: #fff;
    border-color: #373b3e;
    align-content: center;
} */

.colorFilter {
    margin-left: 130%;
    color: #E7E6F7;
}

.brandsFilter {
    margin-left: 8%;
    margin-right: 6%;
    color: #E7E6F7;
}

#search {
    margin-left: 11%;
}

.home {
    margin-left: 5%;
}

.home2 {
    margin-left: 8.4%;
}

.filterPage {
    padding-top: 3%;
    margin-left: 5%;
}

.carsInfoPage {
    padding-top: 1%;
    margin-left: 8%;
}

.carWidget {
    padding-top: 2%;
    margin-left: 5%;
}

.nav-item {
    padding-right: 5%;
    padding-top: 1%;
}

.table {
    align-content: center;
    color: #6D597A;
    margin-right: 5%;
}

.thead {
    color: #E7E6F7;
}

.btn-group button {
    background-color: transparent;
    /* Green background */
    border: 1px solid #E0AFA0;
    border-radius: 1.5em;
    cursor: pointer;
    /* Pointer/hand icon */
    float: left;
    /* Float the buttons side by side */
    align-content: center;
}

.btn-group button:not(:last-child) {
    border-right: none;
    /* Prevent double borders */
}


/* Clear floats (clearfix hack) */

.btn-group:after {
    content: "";
    clear: both;
    display: table;
}


/* Add a background color on hover */

.btn-group button:hover {
    box-shadow: 5px 10px 20px #C6D2ED;
    background-color: transparent;
    border: 1px solid #E0AFA0;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.row {
    position: relative;
    width: 100%;
}

.row [class^="col"] {
    float: left;
    margin: 0.5rem 2%;
    min-height: 0.125rem;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
    width: 96%;
}

.col-1-sm {
    width: 4.33%;
}

.col-2-sm {
    width: 12.66%;
}

.col-3-sm {
    width: 21%;
}

.col-4-sm {
    width: 29.33%;
}

.col-5-sm {
    width: 37.66%;
}

.col-6-sm {
    width: 46%;
}

.col-7-sm {
    width: 54.33%;
}

.col-8-sm {
    width: 62.66%;
}

.col-9-sm {
    width: 71%;
}

.col-10-sm {
    width: 79.33%;
}

.col-11-sm {
    width: 87.66%;
}

.col-12-sm {
    width: 96%;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.hidden-sm {
    display: none;
}

@media only screen and (min-width: 33.75em) {
    /* 540px */
    .container {
        width: 80%;
    }
}

@media only screen and (min-width: 45em) {
    /* 720px */
    .col-1 {
        width: 4.33%;
    }
    .col-2 {
        width: 12.66%;
    }
    .col-3 {
        width: 21%;
    }
    .col-4 {
        width: 29.33%;
    }
    .col-5 {
        width: 37.66%;
    }
    .col-6 {
        width: 46%;
    }
    .col-7 {
        width: 54.33%;
    }
    .col-8 {
        width: 62.66%;
    }
    .col-9 {
        width: 71%;
    }
    .col-10 {
        width: 79.33%;
    }
    .col-11 {
        width: 87.66%;
    }
    .col-12 {
        width: 96%;
    }
    .hidden-sm {
        display: block;
    }
}

@media only screen and (min-width: 60em) {
    /* 960px */
    .container {
        width: 75%;
        max-width: 60rem;
    }
}